.Weather {
  border: solid 1px #a89977;
  font-family: Arial, sans-serif;
  color: rgb(90, 88, 88);
  padding: 16px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 4px;
  background-image: linear-gradient(to top, #f0e2c7 0%, #fcfcfc 100%);
}

.Weather form {
  margin-bottom: 20px;
  border-color: #a89977;
  border-radius: 10%;
  line-height: 2;
  width: 100%;
}

.Weather h1 {
  color: black;
  line-height: 28px;
  font-weight: 100;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  color: #a1906b;
}

.Weather .temperature {
  font-size: 64px;
  font-weight: bold;
  color: rgb(33, 33, 33);
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
  color: #a1906b;
}

.Weather canvas {
  height: 64px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .button {
  background: #ccbb97;
  color: white;
  border-radius: 10%;
  border: 1px solid;
  border-color: #a89977;
  line-height: 2.1;
}
